.header{
	height: .5rem;
	line-height: .5rem;
	background-color: #000;
	font-size: .12rem;
	display: flex;
	justify-content: space-around;
	i.back{
		color:#fff;
	}
	div.input{
		height: .35rem;
		margin-top: 0.08rem;
		background-color: #fff;
		border-radius: 0.05rem;
		input{
			width: 2rem;
			border:0;
			border-radius: 0.05rem;
			font-size: .16rem;
		}
		i.search{
			font-size: .25rem;
			margin-left: .1rem;
			vertical-align: middle;
			margin-top: 0.1rem;
		}
	}
	div.button{
		margin-top: 0.1rem;
		border:0.01rem solid #fff;
		color:#fff;
		width:.5rem;
		/*background-color: #f60;*/
		font-size: .19rem;
		height: .3rem;
		line-height: .3rem;
		text-align: center;
	}
}