.mhead{
	background: #1c2635;
	height: 60px;
	width: 100%;
	padding:0 10px 15px 20px;
}
.onehead{
	width: 90%;
	height:100%;
	vertical-align: middle;
}
.headback {
    width: 50px;
    height: 34px;
    display: inline-block;
    background: url(http://static1.mtime.cn/html5/20180917192829/images/2014/h_btn_back.png) no-repeat 5px 15px;
    background-size: auto 20px;

}
.htable{
    background: #0d121a;
    display: inline-block;
    border-radius: 20px;
    margin-top: -30px;
    padding: 1px;
    height: 40px;
}
.htable li {
    display: inline-block;
}
.htable li.curr a {
    background: #1c2635;
    color: #fff;
}

.htable li a {
    background: #0d121a;
    padding: 10px 30px;
    border-radius: 20px;
    display: block;
    color: #999;
    text-align: center;
}
.htable li .currr{
   background: #1c2635;
    color: #fff;
    
}
.uu{
    margin-top: -20px;
}