*{padding:0;margin:0;}
html,body{
	height: 100%;
	width:100%;
	font-size: 26.66666vw;
}
#indexnav{
  display:flex;list-style:none;background:#000;height:50px;line-height:50px;text-align:center;font-size: .18rem;
  li{
    flex:1;
    a{text-decoration:none;color:#fff; font-weight:600}
  }
}
#indexnav li .active{border-bottom:1px solid #fff}